:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --button-bg-color: #f5f4fa;
  --color-social-links: #afb1b8;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  margin: 0;
}

/* Утилиты */

a {
  text-decoration: none;
  cursor: pointer;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Логотип */
.logo-header {
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: Raleway, sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-footer {
  font-family: Raleway, sans-serif;

  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
}

.logo-web {
  color: #2196f3;
}
.logo-studio {
  color: #212121;
}

.logo-studio.footer {
  color: #ffffff;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid tomato; */
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* Шапка */
.container.header {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .link + .link {
  margin-left: 30px;
}
/* Навигация сайта */
.site-nav {
  display: flex;
  margin-left: 80px;
}

/* .site-nav .item:not(:last-child) {
  margin-right: 50px;
} */

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link::after {
  content: '';

  position: absolute;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;

  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover::after {
  opacity: 1;
}

.site-nav .link.current::after {
  opacity: 1;
}

/* svg иконка почты */
.contacts-icon.envelope {
  width: 16px;
  height: 11px;
  fill: currentColor;
  margin-right: 10px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* svg иконка телефон */
.contacts-icon.smartphone {
  width: 10px;
  height: 15px;
  fill: currentColor;
  margin-right: 10px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .link {
  display: inline-flex;
  align-items: center;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Футер */
.page-footer {
  background-color: var(--footer-bg-color);
}

.container.footer {
  display: flex;
  padding-top: 48px;
  padding-bottom: 28px;

  align-items: baseline;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.address-list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address-list .street {
  margin-top: 10px;

  color: #ffffff;
}

.address .link {
  display: block;
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
}

.social-networks {
  display: flex;
  justify-content: space-evenly;
}

.social-networks .link {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-networks .item:not(:last-child) {
  margin-right: 10px;
}

.social-networks .social-icon {
  fill: var(--primary-bg-color);
}

.social .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--color-social-links);
}

.social .link:hover,
.social .link:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-in > .item {
  display: block;
  margin-bottom: 21px;

  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.subscribe > .item {
  display: block;
  margin-bottom: 21px;

  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.subscribe .input {
  padding: 12px 18px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: var(--foot-primery-color);
  outline: none;
}

.footer-form {
  display: flex;
}

.subscribe .button {
  display: flex;
  align-items: center;

  margin-left: 12px;
}

.button .icon-send {
  margin-left: 10px;
}

.copyright {
  margin: 0;
  padding-top: 18px;
  padding-bottom: 21px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  line-height: 2;
  text-align: center;
}
